<p id="notice"><%= notice %></p>

<h1>Listings</h1>
<div>
  <form action="/search">
    <input name= "q" type="text" placeholder="search" aria-label="search">
    <select name='selected'> <option value='title'> title </option> <option value='suburb'> suburb </option></select>
    <button type="submit">Search</button>
  </form>
</div>

<%= link_to 'Click here to post a new meal to sell or donate!', new_listing_path, class: "button" %>

<%= render "shared/listingcard" %>

</br>

<%= render "shared/footer" %>

