<footer class="footer" style='padding: 2rem;'>
  <div class="content has-text-centered">
    <span>
      <%=image_tag('logo.png')%>
        <strong>Tuna and Rice &copy</strong> 2022 by Megan Van Der Weide.
    </span>
  </div>
</footer>