<h1>About Tuna & Rice</h1>
<p class="message">Please checkout the meals we have available by clicking on <strong> Available Meals!</strong> ⬆️</p></br>

<h4> Tuna and Rice allows you <em>as a user</em> to help those in our community 🧑‍🤝‍🧑 who may be struggling.</h4></br>

<h5>We welcome you to sign up and post a meal to help someone who may be struggling to make ends meet this week!</h5>
<h5>These meals can be your leftover bowl from dinner, bread, pantry items, resturant leftovers or an entire basket of goodies!
These meals can be at cost but we do encourage donations/$0 meals at <em> Tuna and Rice </em></h5>

<h5>You can also sign up to claim a meal! 
Discover what meals are available near you through our handy search bar! Just enter the suburb or postcode.</h5><br></br>

<h5> <strong>We hope you make a small difference to your community here at <em> Tuna and Rice</em> </strong></h5>

<h5 class="facts"><strong>
Lets Reduce Poverty!
Lets Reduce Wastage!</strong></h5></br>

<p class="facts">2020 report Poverty in Australia 2020: Part 1, Overview found that there are 3.24 million people
(13.6%) living below the poverty line of 50% of median income.In Australia the poverty line translates to a single adult living on less than $426.30 a week.</p></br>

<p class="facts">Two-thirds of university students living below the poverty line. one in five students occasionally go without food</p></br>

<p class="facts">
Universities Australia surveyed close to 12,000 full-time undergraduate and postgraduate students.
Twenty-one per cent of respondents had an annual income of less than $10,000, and a further 40.3
per cent earned between $10,000 and $19,000.
<a style = "color:#FF1493;" href="https://gupsa.org.au/two-thirds-of-university-students-living-below-the-poverty-line-report/#:~:text=Universities%20Australia%20surveyed%20close%20to,was%20%2418%2C634%20for%20undergraduate%20students."> Read more here! </a></p>

<%= render "shared/footer" %>