<%=image_tag('4.png', class:"hero-body")%></br>

<div style= "text-align:center">
    <h1> Your order has been placed! Please meet at the location listed on the meal on the date available! 🌞</h1>

    <h3 class="message"> see "My meals claimed" </h3>
</div>
