// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* card */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    border-radius: 5px; /* 5px rounded corners */
    text-align: center;
    font-family: arial;
    img{ max-width: 100%;}
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    border-radius: 5px; /* 5px rounded corners */
}

.container {
    padding: 2px 16px;
}

// .listing-container {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//     grid-gap: 2.5rem;
// }

.message {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #b0eaee;
    border-radius: 4px;
    padding: 30px;
    font-size: 18px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    width: 500px;
}

.facts {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #f8e6a9;
    border-radius: 6px;
    padding: 40px;
    font-size: 16px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    width: 950px;

}